extends layout

block content
    h1 codeExpositor
        p expositor - a person who explains complicated ideas or theories. 
        p exposition - a comprehensive description and explanation of an idea or theory. 
        p My quest to learn code has been a series of setbacks and breakthroughs joined by long stretches during which I made no progress at all. 
        p Why was I stuck? Not because of the concepts, difficult though they were. 
        p The cause was really one: those who write profound code are often poor communicators.
        p Should any profound writer of code read this, I hope he would not be offended. 
        p I am a servicable not a profound writer of code, but I have higher-than average desire to communicate in such a way that I say no more, no less, and no other than I mean.
        p So, if I could accomplish this precision in my explanations of code, I believe I could be of service to many struggling learners some of whom may turn out to be profound developers.
        
    
        