extends layout

block content
    h1 codeExpositor
    p expositor - a person who explains complicated ideas or theories. exposition - a comprehensive description and explanation of an idea or theory. 
    p My quest to learn code has been a series of setbacks and breakthroughs joined by long stretches during which I made no progress at all. 
    p Why was I stuck? I believe I was stuck primarily because great coders are often not great communicators. 
    p The purpose of codeExpositor is to provide lucid comprehensive explanations of coding topics. 
    h2 Examples
    ul
        li How does .reduce() work? 
        li Why does "asynchronous" in a dev context seem to mean the opposite of "asynchronous" in common parlance?
        li How to quickly generate arrays of any length with Array.from();


    
    
    
        