extends layout

block content
    p Hi, my name is Wes Hedrick. Welcome to my website. This site exists for two reasons: to display what I can do and to give a helping hand to developers who are not as far along as I. Developers are not often communicators. I aim to rectify this problem.
    
    


