extends layout

block content
    p Hi, my name is Wes Hedrick. Welcome to my website. This site exists for two reasons: to display what I can do and to give a helping hand to other learners.
    
    


