doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    .hero 
        a(href="/") Home

    nav
        ul
            li 
                a(href="/aboutme") About Me
            li 
                a(href="/portfolio") Portfolio
            li 
                a(href="/nuggets") Nuggets
            li 
                a(href="/codeexegete") codeExpositor
            
    block content
