extends layout

block content
    h1 Nuggets
    h2 This is a really cool page full of to-the-point, bitesize tidbits of goodness I have picked up along the way. 
    each item in fiveNuggets
        p #{item}

    
    a(href='/nuggets/'+nextButton)
        button Next
    