body {
    /* padding: 50px; */
    font: "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
  }
p {
    font-size: 1em;
}

nav {
    width: 100vw;
    display: flex;
    /* border: 1px solid black; */
    background: linear-gradient(45deg, #43cea2, #185a9d);
}

nav>ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width:  100%;
    margin: 0;
    padding: 0;
}


nav>ul>li {
    border: 1px solid #4568dc;
    height: 88px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background: transparent;
}


li:hover{
    opacity: 0.5;
}


a {
text-decoration: none;
color: black;
}


/* Portfolio styles */
.portfolio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-wrap: wrap;
    

}
.project-card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 31%;
    margin: 0.4em;
    box-shadow: 1px 1px 1.4px 1px lightgrey;
}

.link-to-project-detail {

}

.project-image {

}

.project-summary {

}