extends layout

block content
    h1 codeExpositor
    h2 "line by line"
    p expositor - a person who explains complicated ideas or theories. exposition - a comprehensive description and explanation of an idea or theory. 
    p My quest to learn code has been a series of setbacks and breakthroughs joined by long stretches during which I made no progress at all. 
    p Why was I stuck? I believe I was stuck primarily because great coders are often not great communicators. 
    p The purpose of codeExpositor is to provide lucid comprehensive explanations of coding topics in an unapologetically long-form style. In this page, we'll being going through real piece of code line-by-line, word-by-word
    h2 Examples
    h2 [The below will be short instructional videos]
    ul
        li How does .reduce() work? 
        li Familiarizing yourself with a new code base
        li ...the goodness: The magic of the spread operator
        li Why does "asynchronous" in a dev context seem to mean the opposite of "asynchronous" in common parlance?
        li How to quickly generate arrays of any length with Array.from();
        li You've heard of binary operators, but have you heard of it's two brothers, unary and ternary?
        li JavaScript is so Chill: Automatic Type Conversion
        li Exercise: Remove specific item from an array base on specific index



    
    
    
        
