extends layout

block content
    h1 Nuggets
    p This is a really cool page full of to-the-point, bitesize tidbits of goodness I have picked up along the way. 
    each item in fiveNuggets
        p #{item}

    a(href='/nuggets/'+previousButton)
        button Previous
    a(href='/nuggets/'+nextButton)
        button Next